Source: statusmenu-fmms
Section: libs
Priority: extra
Maintainer: Nick Leppänen Larsson <frals@frals.se>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: statusmenu-fmms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Proves status bar icon for fMMS
